<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="Config" type="Artisan.Tools.Configurator.ConfigSectionHandler, Artisan.Tools.Configurator"/>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>

  <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  
  <connectionStrings>
    <add name="SchoolContext" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Projects\Artisan.Tools\Concept.Tests\Db\School.mdf;Integrated Security=True;Connect Timeout=30" providerName="System.Data.SqlClient"/>
  </connectionStrings>

  <entityFramework>
    <contexts>
      <context type="Artisan.Tools.Concept.Tests.SchoolContext, Concept.Tests">
        <databaseInitializer type="Artisan.Tools.Concept.Tests.SchoolInitializer, Concept.Tests" />
      </context>
    </contexts>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v12.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>


  <Config>
    <Student>
      <LastName>Alexander</LastName>
      <FirstMidName>Carson</FirstMidName>
      <EnrollmentDate>2005-09-01T12:00:00.000</EnrollmentDate>
      <Enrollments>
        <Enrollment>
          <CourseID>1050</CourseID>
          <StudentID>1</StudentID>
          <Grade>A</Grade>
          <Course>
            <Id>1050</Id>
            <Title>Chemistry</Title>
            <Credits>3</Credits>
          </Course>
          <Id>1</Id>
        </Enrollment>
        <Enrollment>
          <CourseID>4022</CourseID>
          <StudentID>1</StudentID>
          <Grade>C</Grade>
          <Course>
            <Id>4022</Id>
            <Title>Microeconomics</Title>
            <Credits>3</Credits>
          </Course>
          <Id>2</Id>
        </Enrollment>
        <Enrollment>
          <CourseID>4041</CourseID>
          <StudentID>1</StudentID>
          <Grade>B</Grade>
          <Course>
            <Id>4041</Id>
            <Title>Macroeconomics</Title>
            <Credits>3</Credits>
          </Course>
          <Id>3</Id>
        </Enrollment>
      </Enrollments>
      <Id>1</Id>
    </Student>
  </Config>

</configuration>